*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.SECTION1{
    background-image: url(./images/enjoy_section_1.JPG);
   
    padding-top: 25%;
    background-size: 100%;
    background-repeat: no-repeat;
   
    
}
#BE-AQUA{
    color: gold;
}
body{
    color: black;
}
#h1sec1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100px;
}
.imgtrain{
    opacity: 50%;
}
.SECTION2{
    background-image: url(./images/fam_photo.jpg);
}
.BUTTON1{
    border-radius: 5px;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}
.time{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); 
}
.SECTION3{
    background-color: antiquewhite;
}
#imglogosec3{
    background-color: rgb(255, 238, 0);
    padding-left: 25px;
    border: 5px;
    box-shadow: 5px;
    border-radius: 5px;
    padding-bottom: 10px;
}
.iconimg{
    width: min-content;
    align-items: center;
    align-content: center.;
}
#star{
    padding-left: 50%;
     padding-top: 8px;
}
.card{
    background-color: aqua;
    
}
#ride{
    padding-right: 50%;

}
#ECO{
    padding-left: 50%;
}
.arc{
    background-color: aquamarine;
    padding-top: 2px;
    padding-bottom: 2px;
}
.safessection{
    background-image: url(./images/slide\ 5.jpg);
    width: 100%;
    background-repeat: no-repeat;

}
.chilride{
    width:180px;
    border: 5px solid white;
    border-radius: 5px;
}
.poolride{
    width: 200px;
    border: 5px solid white;
    border-radius: 5px;
}
.funride{
    width: 200px;
    border: 5px solid white;
    border-radius: 5px;
}
.packagesection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   
}
.ADULT{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(23,121,9,1) 35%, rgba(0,212,255,1) 100%); 
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    box-shadow: black;

}
.card123{
    background-color: whitesmoke;
    border-radius: 5px;
}
.CHILD{
    background: rgb(255,0,255);
    background: linear-gradient(90deg, rgba(255,0,255,1) 0%, rgba(236,13,161,1) 70%, rgba(255,255,255,1) 100%); 
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    box-shadow: black;
}
.contact{
    background-color: rgb(129, 126, 126);
    color: white;
}
#socialimage{
    width: 30px;
}
.cidfrnd{
    background-image: url(./images/friendship\ day.png);
}
.btn{
    background-color: yellow;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
.whats-app {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 15px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    text-decoration: none;
}

.my-float {
    margin-top: 16px;
}